In [2]:
import pandas as pd
df = pd.read_csv("data/train.csv")

### 1. How big is the data?

In [3]:
df.shape

(891, 12)

### 2.How does the data look like?

In [4]:
# df.head()

# Sometimes there is bias in data head so instead use sample(sample_size) func isntead
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
724,725,1,1,"Chambers, Mr. Norman Campbell",male,27.0,1,0,113806,53.1000,E8,S
388,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
504,505,1,1,"Maioni, Miss. Roberta",female,16.0,0,0,110152,86.5000,B79,S
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0,1,1,17421,110.8833,C68,C
390,391,1,1,"Carter, Mr. William Ernest",male,36.0,1,2,113760,120.0000,B96 B98,S

### 3.What is the data types of columns?

In [5]:
# Hame jaanna zaroori hai ki konsa column kiss type ka data store krr rha hai
df.info()

# Ab as u can see which are objects -> strings where floats are used u can change them to int if using float is unessary to reduce the consumption of space and reduce algorithmic training time.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 4.Are there any missing values?

In [6]:
# Missing values bhot pareshan karti hai, you may see it in Non-Null Count in df.info() but smtimes in large dataset u need exact number

df.isnull().sum()
# df.isnull() -> will only give you each data whether it is null or not as true or false

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### 5.How does the data look mathematically?

In [7]:
# It performs some mathematics on data to give us mathematical taste of given dataset(ofc useful only for numerical columns)
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### 6.Are there duplicate values?

In [10]:
# Ky iss row ka value duplicated hai?
#df.duplicated()
# If you want to know sabhi rows ka milakr kitne row duplicated hai then
df.duplicated().sum()

np.int64(0)

### 7.How is the correlation btw the columns?

In [ ]:
# Correlation tells us that kisi ek chiz ke badhne se dusre pr ky asar ho rha hai this helps us in identifying the columns jiska output se koi lena dena hi nhi hai -> dimentionality reduction

df.corr(numeric_only=True)   #if you don't use numeric_only attribute u will get an error.

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [ ]:
# As survived is our output we should see what is correlation of our output with our input columns onlly.
# Correlation lies btw 1 to -1 here 1 means no relation like survival <-> survival = 1
df.corr(numeric_only=True)['Survived']

PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Age           -0.077221
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
Name: Survived, dtype: float64